.historyboy{
margin-left: auto;
margin-right: auto;
width: 900px;
min-height: 1000px;
border-width: 1px;
border-style: solid;
border-color: black;
background-color: white;
border-radius: 15px;
}

.logo img{
width: 150px;
height: auto;
padding: 8px;
float: left;

}

body{
    background-color: black;
}

.header{
    margin-left: 162px;
    margin-right: 150px;
    
}

.header h1{
margin-right: auto;
margin-left: auto;
margin-top: 2px;
font-size: 60px;
text-align: center;


}

.text{
margin: 10px;
border-style: dashed;
border-width: 1px;
}

.text h2{
color:black;
}

.text p{
color: darkslategrey;
}